.nav{
    display:flex;
    justify-content: center;
    background-color: #81BD00;
    padding: 20px;
    margin: 0;
    color: white;
  }
  li{
    margin-right: 20px;
    margin-left: 20px;
    list-style: none;
  }
  li:hover{
    color: #005CBA
  }


@media (min-width: 768px) {
    nav {
      display: block;
    }
  
    .mobile-menu {
      display: none;
    }
  }
  
  @keyframes spin {
  
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(-360deg);
    }
  }