<div class="container">
    <header class="header">
        <!-- <a routerLink="/" class="logo">
            <img src="assets/images/logo.png" alt="logo" height="60">
        </a> -->
        <div>
            <ul class="nav navbar-nav">
                <li>
                <a (click)="home()">Home</a>
                </li>
                <li>
                <a (click)="administrador()">Administrador</a>
                </li>
                <li>
                <a (click)="empleado()">Empleado</a>
                </li>
            </ul>
        </div>

    </header> 
</div>

